[submodule "balena-sound"]
	path = balena-sound
	url = git@github.com:balenalabs/balena-sound.git
[submodule "balena-pihole"]
	path = balena-pihole
	url = git@github.com:klutchell/balena-pihole.git
[submodule "LiFePO4wered-Pi"]
	path = LiFePO4wered-Pi
	url = git@github.com:xorbit/LiFePO4wered-Pi.git
